<h1>How did you get here?</h1>
<p>Access Denied</p>
<form asp-action="AccessDeniedPost" asp-controller="Secret" method="post">
	<button type="submit">Back to Homepage</button>
</form>
<!-- <a asp-action="Index" asp-controller="Posts">Back to Dashboard</a> -->