
<h1>Grass Block</h1>
<div>
	<p>
		George Teemus (a.k.a. "Grass Block", "Skorostrel") on Tallinna Tehnoloogiakolledži 2. kursuse tarkvaraarenduse eriala õpilane. 
		<br />
		Teemus mängib bass-kitarri crust-punk bändis "Väntajad". 
		Ta oskab mängida ka trumme ja suupilli.
		<br />
		Teemus kannab happeliselt rohelisi juukseid, mille pärast teda kutsutakse "Murublokkiks"
		<br />
		Murublokk on anarhist.
	</p>
</div>
