@model IEnumerable<opimerchant.Models.Post>

<div>
	<a asp-action="Create" asp-controller="Posts" type="submit" class="btn btn-primary">Create New Post</a>
</div>

<br />

<div class="h1">
	Posts
</div>

<form method="get">

<table class="table table-hover">
	<tbody>
		@foreach (var post in Model)
		{
			<tr>
				<td>@post.PostID</td>
				<td>@post.Title</td>
				<td>@post.Body</td>

				<td>
					<a asp-action="Details" asp-controller="Posts" asp-route-id="@post.PostID" class="btn btn-primary">View</a>
				</td>
			</tr>
		}


	</tbody>
</table>
</form>



