@using Microsoft.AspNetCore.Identity
@model IEnumerable<opimerchant.Models.Post>
@inject SignInManager<opimerchant.Models.User> _signInManager;

<div>
	@if (_signInManager.IsSignedIn(User))
	{
		<a asp-action="Create" asp-controller="Posts" type="submit" class="btn btn-primary">Create New Post</a>
	}
</div>

<br />

<div class="h1">
	Posts
</div>

<form method="get">

<table class="table table-hover">
	<tbody>
		@foreach (var post in Model)
		{
			<tr>
				<td>@post.Author</td>
				<td>@post.Title</td>
				<td>@post.Description</td>

				<td>
					<a asp-action="Details" asp-controller="Posts" asp-route-id="@post.PostID" class="btn btn-primary">View</a>
				</td>
			</tr>
		}


	</tbody>
</table>
</form>



